<% breadcrumb :train_project, @project %>

<h3>Train</h3>

<%= form_tag('train', method: 'post') do %>
    <div class="row">
      <div class="col s6">
        <%= label_tag(:ignore_words, 'Ignore words') %>
        <%= text_field_tag(:ignore_words, @project.ignore_words) %>
      </div>
      <div class="col s6">
        <%= label_tag(:random_seed, 'Random seed') %>
        <%= text_field_tag(:random_seed, @random_seed) %>
      </div>
    </div>
    <%= submit_tag('Train', class: 'btn waves-effect waves-light') %>
<% end %>

<% if defined? @score %>
    <h4>Score: <%= @score %>%</h4>
<% end %>
<h4>Test Transactions (<%= @test_transactions.count %>)</h4>
<%= render partial: 'shared/transactions_table', locals: { transactions: @test_transactions } %>

<h4>Training Transactions (<%= @training_transactions.count %>)</h4>
<%= render partial: 'shared/transactions_table', locals: { transactions: @training_transactions } %>

