<table class="transactions">
  <thead>
    <tr>
      <th class="date">Date</th>
      <th class="transaction_type">Type</th>
      <th class="description">Description</th>
      <th class="value">Value</th>
      <th class="balance">Balance</th>
      <th class="category">Category</th>
    </tr>
  </thead>

  <tbody>
    <% transactions.each do |transaction| %>
        <tr>
          <td><%= transaction.date %></td>
          <td><%= transaction.transaction_type %></td>
          <td><%= transaction.description %></td>
          <td class="numeric"><%= currency transaction.value %></td>
          <td class="numeric"><%= currency transaction.balance %></td>
          <td><%= transaction.category %></td>
        </tr>
    <% end %>
  </tbody>
</table>
