<table class="summary">
  <tr>
    <th>
      Verified amounts
    </th>
    <td class="right-align">
      <span class="verified">£</span>
    </td>
    <td class="right-align number">
          <span class="verified">
            <%= currency(verification_state[:verified_spend]) %>
          </span>
    </td>
    <td class="right-align">
          <span class="light verified">
          (<%= verification_state[:percent_verified_spend].round %>%)
          </span>
    </td>
  </tr>
  <% if show_unverified_spend %>
  <tr>
    <th>
      Unverified amounts
    </th>
    <td class="right-align">
      <span class="unverified">£</span>
    </td>
    <td class="right-align number">
          <span class="unverified">
            <%= currency(verification_state[:unverified_spend]) %>
          </span>
    </td>
    <td class="right-align">
          <span class="light unverified">
          (<%= verification_state[:percent_unverified_spend].round %>%)
          </span>
    </td>
  </tr>
  <% end %>
  <tr>
    <td colspan="4">
      <div class="progress verification_state">
        <div class="determinate" style="width: <%= verification_state[:percent_verified_spend] %>%"></div>
      </div>
    </td>
  </tr>
</table>
