<p id="notice"><%= notice %></p>

<p>
  <strong>Filename:</strong>
  <%= @statement.filename %>
</p>

<p>
  <strong>Content:</strong>
  <%= @statement.content %>
</p>

<p>
  <strong>First date:</strong>
  <%= @statement.first_date %>
</p>

<p>
  <strong>Last date:</strong>
  <%= @statement.last_date %>
</p>

<p>
  <strong>Project:</strong>
  <%= @statement.project %>
</p>

<%= link_to 'Edit', edit_statement_path(@statement) %> |
<%= link_to 'Back', statements_path %>
