<%= form_with(model: transaction, local: true) do |form| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, id: :transaction_date %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type, id: :transaction_type %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :transaction_description %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value, id: :transaction_value %>
  </div>

  <div class="field">
    <%= form.label :balance %>
    <%= form.text_field :balance, id: :transaction_balance %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.text_field :category, id: :transaction_category %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
