<% breadcrumb :account_transactions, @account %>

<p id="notice"><%= notice %></p>

<h2><%= @account.name %></h2>

<script>
  function loadStatement() {
    var query = $('#statement_options').serialize();
    $('#transactions').load(`transactions/statement?${query}`);
  }

  $(function() {
    $('.transactions form.category input[type=text]').change(function() {
      var action = $(this).parent('form')[0].action + '.json';
      var data = $(this).parent('form').serialize();
      $.post(action, data, function(response) {
        var autocompleteData = {};
        response.forEach(function(val) {
          autocompleteData[val] = null;
        });
        $('.transactions form.category input[type=text]').autocomplete({
          data: autocompleteData,
          limit: 20, // The max amount of results that can be shown at once. Default: Infinity.
          onAutocomplete: function(val) {
            // Callback function when value is autcompleted.
          },
          minLength: 1, // The minimum length of the input for the autocomplete to start. Default: 1.
        });
      });
    });
    $('.transactions form.category input[type=text]').autocomplete({
      data: <%=json_escape @project.categories.map{ |c| [c, nil] }.to_h.to_json.html_safe %>,
      limit: 20, // The max amount of results that can be shown at once. Default: Infinity.
      onAutocomplete: function(val) {
        // Callback function when value is autcompleted.
      },
      minLength: 1, // The minimum length of the input for the autocomplete to start. Default: 1.
    });

    $('.transactions form.category input[type=text]').focus(function() {
      $(this).closest('tr').addClass('highlight');
    });
    $('.transactions form.category input[type=text]').focusout(function() {
      $(this).closest('tr').removeClass('highlight');
    });

    loadStatement();
    $('#statement_options').change(loadStatement);
  });
</script>

<form id="statement_options" class="row">
  <div class="input-field col s4">
    <%= select_tag 'month', options_for_select(@month_options, @month_options.last[1]), id: 'month' %>
    <label>Month</label>
  </div>
  <div class="input-field col s4">
    <%= select_tag 'sort_by', options_for_select(@sort_options), id: 'sort_by' %>
    <label>Sort by</label>
  </div>
</form>

<div id="transactions">

</div>

<br>
