<% breadcrumb :project_transactions, @project %>

<p id="notice"><%= notice %></p>

<h1>Transactions</h1>

<script>
  $(function() {
    $('.transactions form.category input[type=text]').change(function() {
      var action = $(this).parent('form')[0].action + '.json';
      var data = $(this).parent('form').serialize();
      $.post(action, data, function(response) {
        var autocompleteData = {};
        response.forEach(function(val) {
          autocompleteData[val] = null;
        });
        $('.transactions form.category input[type=text]').autocomplete({
          data: autocompleteData,
          limit: 20, // The max amount of results that can be shown at once. Default: Infinity.
          onAutocomplete: function(val) {
            // Callback function when value is autcompleted.
          },
          minLength: 1, // The minimum length of the input for the autocomplete to start. Default: 1.
        });
      });
    });
    $('.transactions form.category input[type=text]').autocomplete({
      data: <%=json_escape @project.categories.map{ |c| [c, nil] }.to_h.to_json.html_safe %>,
      limit: 20, // The max amount of results that can be shown at once. Default: Infinity.
      onAutocomplete: function(val) {
        // Callback function when value is autcompleted.
      },
      minLength: 1, // The minimum length of the input for the autocomplete to start. Default: 1.
    });
  });
</script>

<table class="transactions">
  <thead>
    <tr>
      <th class="date">Date</th>
      <th class="transaction_type">Type</th>
      <th class="description">Description</th>
      <th class="value">Value</th>
      <th class="balance">Balance</th>
      <th class="category">Category</th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.date %></td>
        <td><%= transaction.transaction_type %></td>
        <td><%= transaction.description %></td>
        <td class="numeric"><%= currency transaction.value %></td>
        <td class="numeric"><%= currency transaction.balance %></td>
        <td>
          <%= form_with(model: transaction, remote: true, class: 'category') do |form| %>
            <%= form.text_field :category %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transaction', new_project_transaction_path(@project) %>
