<p id="notice"><%= notice %></p>

<h1>Transactions</h1>

<table class="transactions">
  <thead>
    <tr>
      <th class="date">Date</th>
      <th class="transaction_type">Type</th>
      <th class="description">Description</th>
      <th class="value">Value</th>
      <th class="balance">Balance</th>
      <th class="category">Category</th>
      <th class="controls" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.date %></td>
        <td><%= transaction.transaction_type %></td>
        <td><%= transaction.description %></td>
        <td class="numeric"><%= currency transaction.value %></td>
        <td class="numeric"><%= currency transaction.balance %></td>
        <td><%= transaction.category %></td>
        <td><%= link_to 'Show', transaction %></td>
        <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transaction', new_project_transaction_path(@project) %>
