<table class="transactions">
  <thead>
    <tr>
      <th class="date">Date</th>
      <th class="transaction_type">Type</th>
      <th class="description">Description</th>
      <th class="value">Value</th>
      <th class="balance">Balance</th>
      <th class="category">Category</th>
      <th class="predicted_category">Predicted</th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
        <tr>
          <td><%= transaction.date.strftime('%-d %b %y') %></td>
          <td><%= transaction.transaction_type %></td>
          <td><%= transaction.description %></td>
          <td class="numeric"><%= currency transaction.value %></td>
          <td class="numeric"><%= currency transaction.balance %></td>
          <td>
            <%= form_with(model: transaction, remote: true, class: 'category') do |form| %>
                <%= form.text_field :category, { autocomplete: 'off' } %>
            <% end %>
          </td>
          <td><%= transaction.predicted_category%></td>
        </tr>
    <% end %>
  </tbody>
</table>
