<% breadcrumb :project_accounts, @project %>

<p id="notice"><%= notice %></p>

<h1>Accounts</h1>



  <% @accounts.each do |account| %>
      <div class="row section accounts header">
        <div class="col s6">
          <h4>
            <%= account.name %>
            <%= link_to 'More →', project_accounts_path(@project), class: 'btn-flat right' %>
          </h4>
        </div>
        <div class="col s6"></div>
      </div>
      <div class="row">
        <div class="col s6">

          <%= account.account_type %>
          <%= link_to 'Show', account %>
          <%= link_to 'Edit', edit_account_path(account) %>
          <%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %>

        </div>
        <div class="col s6">
          <%= render partial: 'shared/verification_status', locals: { verification_state: account.verification_state } %>
        </div>
      </div>
  <% end %>

<%= link_to 'New Account', new_project_account_path(@project) %>
