<% breadcrumb :account, @account %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @account.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @account.account_type %>
</p>

<p>
  <strong>Project:</strong>
  <%= @account.project %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', project_accounts_path(@project) %>
